* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.main-container {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
}

.ui-left,
.ui-right {
	margin-top: 50px;
	float: left;
	width: 480px;
}

  .ui-left .title {
  	font-size: 44px;
  	letter-spacing: -1px;
  }

  .ui-left ul {
  	padding-left: 16px;
  }

.ui-right {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-left: 20px;
	margin-top: 80px;
	padding: 10px;
	width: 440px;
}

	.ui-right h2 {
		border-bottom: 1px dashed #ddd;
	  margin: 0 0 15px;
	  padding-bottom: 3px;
	  text-align: center;
	}

.reg-form {

}

  .reg-form div {
  	margin-bottom: 15px;
  }

  .reg-form label,
  .reg-form input[type="text"] {
  	float: left;
  }

  .reg-form label {
  	width: 100px;
  }

  .reg-form input[type="text"] {
  	border: 1px solid #ddd;
  	border-radius: 3px;
  	box-shadow: inset 0 0 3px rgba(0,0,0,.15);
  	padding: 5px;
  	width: 300px;
  }

  .reg-form select {
  	width: 150px;
  }

.btn {
	border: 1px solid #ddd;
	border-radius: 3px;
	min-height: 32px;
	width: 150px;
}

.green {
  background-color: #56b756;
  background-image: -webkit-linear-gradient(top, #56b756, #46a546);
  background-image: -moz-linear-gradient(top, #56b756, #46a546);
  background-image: -ms-linear-gradient(top, #56b756, #46a546);
  background-image: -o-linear-gradient(top, #56b756, #46a546);
  border: 1px solid #46a546;
  border-bottom-color: #3c8d3c;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.2);
  color: #fff;
}

.group {
	*zoom: 1;
}

.group:before,
.group:after {
	content: '';
  display: table;
}

.group:after {
  clear: both;
}